h1 {
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  color: #662eed;
  margin: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  font-weight: 400;
  margin-top: 0px;
  padding: 0px;
}

img {
  display: block;
  margin: 10px auto;
  padding: 20px;
  border-radius: 30px;
  max-width: 90%;
}

p {
  text-align: justify;
  line-height: 1.5;
  font-size: 15px;
  margin: 5px 40px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.paradise {
  color: #c50000;
}

.in {
  color: #283c63;
}

.indonesia {
  color: #e70000;
}

.content {
  max-width: 700px;
  margin: 30px auto;
  padding: 10px;
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
  border: 1px solid;
  border-radius: 15px;
}

.new-paragrap {
  margin-bottom: 50px;
}
.buttondiv {
  padding: 20px 0px 10px;
}
.travel-button {
  display: block;
  margin: 0 auto;
  border: 1px solid;
  font-size: 17px;
  border-radius: 20px;
  padding: 10px;
  background-color: #662eed;
  color: whitesmoke;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.travel-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.learn-more {
  text-decoration: none;
}

.learn-more:hover {
  text-decoration: underline;
  color: #c50000;
}

.footer {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  padding: 10px;
  text-decoration: none;
}
